
/* archivo-regular - latin */
/*@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('archivo-v18-latin-regular.woff2') format('woff2');
}*/

/* archivo-700 - latin */
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('archivo-v18-latin-700.woff2') format('woff2');
}

a {
	text-decoration: none;
}

body {
	background-color: #428a8a;
	color: rgb(0, 0, 0);
	font-size: 24pt;
	margin: 0;
	padding: 0;
	font-family: Archivo, sans-serif;
	font-weight: 700;
}
.sudoku_bg {
	display: inline;
	background: url('sudoku_bg.webp');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -9999;
}

.box {
	max-width: 1000px;
	margin: auto;
	padding-top: 75px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
}
p, li {
	line-height: 1.75;
}

.logo {
	width: 828px;
	max-width: 100%;
	image-rendering: pixelated;
}

.screenshot {
	width: 300px;
	max-width: 100%;
}

.center {
	text-align: center;
}
